.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid rgb(185, 179, 179);
    border-radius: 8px;
    padding-left: 75px;
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: rgb(2, 85, 58);
}
.form-control{
    margin-bottom: 20px;
}
.form-control label{
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
}
.form-control input{
    width: 415px;
    height: 55px;
    border: 1px solid rgb(5, 142, 96);
    font-size: 1.5em;
    padding-left: 7px;
    border-radius: 8px;

}
.btn-submit{
    width: 427px;
    height: 59px;
    color: aliceblue;
    background-color: rgba(6, 83, 59, 0.993);
    border-radius: 5px;
    border:none;
    font-size: 20px;
}
.btn-submit:hover{
    background-color: rgba(17, 156, 112, 0.993);
}